/*
    RESET
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/1.1 Helvetica, Sans-Serif;
    background: url(images/stripe.png) repeat-x;
}

.clear {
    clear: both;
}

img,
a img {
    border: none;
}

input {
    outline: none;
}


/*

	NO HEADER NEEDED AT THE MOMENT

*/


/*
    STRUCTURE
*/

body {
    font: 14px/1.1 Helvetica, Sans-Serif;
    background: url(images/stripe.png) repeat-x;
}

hr {
    height: 1px;
    background: #ccc;
    clear: both;
    margin: 20px 0;
    border: none;
    display: block;
}



/*
    TYPOGRAPHY
*/

a {
    text-decoration: none;
    color: #900;
    border-bottom: 1px dotted #900;
    outline: none;
}

h1 {
    font: bold 36px Helvetica, Sans-Serif;
    margin: 0 0 8px 0;
}

h2 {
    margin: 0 0 10px 0;
}

p {
    margin: 0 0 6px 0;
}

.button {
    background: url(/images/button-bg.png) repeat-x;
    -moz-border-radius: 5px;
    padding: 6px 12px;
    border: none;
    color: white;
    background: black;
    cursor: pointer;
    text-shadow: 0 1px 1px #666;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px #999;
    -moz-box-shadow: 0 1px 3px #999;
    font: bold 16px Helvetica;
}

.button:hover {
    background-position: bottom left;
}

.red {
    background: red;
    color: white;
    font-size: 12px;
    padding: 3px;
}

/* MAIN - SQUARE FORMATTING */

#main_square {
	width: 550px;
	height: 830px;
	margin-left:295px;
	margin-top:60px;
	background: rgba(0, 0, 0, 0.8);
	padding: 20px;

}

#main_square span, button{
	color: white;
	float: left;
}



/*
    FORM STUFF
*/

label {
    background: #999;
    color: white;
    padding: 3px;
}


input[class="wide_text_field"],
input[class="large_text_field"] {
    width: 224px;
    border: 3px solid #999;
    font-size: 18px;
    padding: 7px;
    display: block;
}




#new_note_form input[class="wide_text_field"] {
    width: 532px;
    float: left;
    margin: 10px 10px 10px 0px;

}

#new_note_form input[class="large_text_field"] {
    width: 532px;
    height:200px;
    float: left;
    margin: 10px 10px 10px 0px;

}

#new_note_form input[type="text"]:focus {
    border-color: #73B8BF;
}

#new_note_form input[type="submit"],
#new_note_form input[type="button"] {
    padding: 10px 12px;
    margin-right: 20px;
    width: 100px;
    float: left;


}

ul#list li span input[style] {
    width: 90% !important;
}


/*
    SIDEBAR
*/

#sidebar {
    position: absolute;
    left: 0;
    width: 125px;
    padding: 80px 10px 0 20px;
    height: 756px;
    top: -6px;
    background: none;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    margin: 0 0 5px 0;
    font-size: 12px;
}